/* Terms of Use Section */
.terms-of-use-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
.terms-of-use-section h1 {
    font-size: 2.5rem;
    color: #171717;
    margin-top: 100px; /* Adjust as needed */
    margin-bottom: 30px;
    text-align: center;
}

.terms-of-use-section h2 {
    font-size: 1.8rem;
    color: #4d4c4c;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Paragraph Styles */
.terms-of-use-section p {
    font-size: 1.1rem;
    color: #464444;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Link Styles */
.terms-of-use-section a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.terms-of-use-section a:hover {
    color: #0056b3;
}

/* List Styles */
.terms-of-use-section ul {
    list-style: disc;
    padding-left: 20px;
}

/* Contact Information Styles */
.terms-of-use-section .contact-info {
    margin-top: 30px;
}

.terms-of-use-section .contact-info p {
    font-size: 1.1rem;
    color: #535151;
    margin-bottom: 10px;
    text-align: center;
}

.terms-of-use-section .contact-info a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.terms-of-use-section .contact-info a:hover {
    color: #0056b3;
}

/* style1index.css or styleall.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  
    .navbar li {
      display: block;
    }
  
    .content-wrapper {
      flex-direction: column;
    }
  
    .solve-nexus-image {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer-body i {
      font-size: 2rem;
    }
  }